body 
{
    background:url(Documents/Drone_Page_Qui_sommes_nous.jpg);
    background:url(Documents/Plage_drone_2.jpg);
    padding : 0;
    margin: 0;
    background-repeat: repeat;
    background-size: 100%;
}

header
{
    text-align: center;
    font-size: 120%;
    color: rgba(30, 106, 219,0.918);
}
  
#fondmenu
{
    width:100%;
    height:75px;
    background: linear-gradient(#bdcfeb,#faf2f3 );
    border-radius: 4px 4px 4px 4px;
}
  
#menu
{
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 0;
    margin-top: 0;
}
  
#menu li
{
    display:table-cell;
    width: 1.5%;
    transition: 1s;
}
  
#menu li:hover
{
    width: 2%;
    transition: 1s;
}
  
#menu a
{
    color: rgba(211, 102, 29, 0.541);
    color: none;
    text-decoration: none;
    font-size: 100%;
    display: block;
    line-height: 75px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transition: text-shadow, color 1s;
}
  
#menu a:hover
{
    color: rgba(230, 11, 11, 0.8);
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    background: rgba(255,255,255,0,1);
    transition: text-shadow, color 1s;
    border-bottom: 4px solid rgba(230, 11, 11, 0.8);
}

.title
{
    position: relative;
    font-weight: 900;
    font-size: 35px;
    color: rgb(30, 106, 219,0.918);
    text-align: center;
}

.section_1
{
    color: rgb(102, 198, 211);
    font-size: 15px;
    padding: 0;
    margin:0;
    font-size: 20px;
    width: 1000px;
    padding: 20px 200px 20px 200px;
    margin-left: auto;
    margin-right: auto;
    background: #d2def2;
    border-radius: 40px;
    opacity: 0.90;
    text-align: center;
}

.container
{
    flex-direction: column;
    align-items: stretch;
}

.photo
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.prenom
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.presentation
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Photo_Florian
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 243px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.Florian
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 150px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.Presentation_Florian
{
    list-style: none;
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 400px;
    color: white;
    font-weight: bold;
}

.Photo_Timothy
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 243px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.Timothy
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 150px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.Presentation_Timothy
{
    list-style: none;
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 400px;
    color: white;
    font-weight: bold;
}

.Photo_Elerig
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 243px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.Elerig
{
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 150px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.Presentation_Elerig
{
    list-style: none;
    background: rgba(102, 198, 211, 0.92);
    padding: 5px;
    width: 400px;
    height: 400px;
    color: white;
    font-weight: bold;
}


/*Barre latérale*/

.margin-constraint
{
    /*On indique tout simplement une marge*/
    margin-left: 96%;
}
  
.margin-constraint.useful-width
{
    width:calc(100% - 40px);
}
  
.icon-bar
{
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a
{
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover
{
    background-color: #000;
}
  
.twitter
{
    background: #55ACEE;
    color: white;
}

.linkedin
{
    background: #007bb5;
    color: white;
}
  
.youtube
{
    background: #bb0000;
    color: white;
}

.facebook
{
    background: #3B5998;
    color: white;
}

/*Footer*/

body, html 
{
    margin: 0;
    display: table;
    height: 100%; 
    width: 100%;
}

.container-fluid
{
    padding: 0;
}

.separator
{
	height: 3px;
	width: 5px;
	border: none;
	box-shadow: none;
	background-color: #3498DB;
}

.footer
{
 display: table-row;
 height: 250px;
 background-color: #2C3E50;
 padding-top: 2%;
}

.footer h5
{
	color: #FFFFFF;
	text-align: center;
    font-family: 'Raleway', sans-serif;
}

.footer a
{
	color: #FFFFFF;
	margin-left: 48.5%;
}

.footer a:hover
{
	color: #3498DB;
	text-decoration: none;
}

.footer p
{
	padding-top: 3%;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

@media screen and (max-width: 1050px){

    body
    {
        background:url(Documents/Plage_drone_2.jpg);
        padding : 0;
        margin: 0;
        background-repeat: repeat;
        background-size: 100%;
    }

    header
    {
        text-align: center;
        font-size: 60%;
        color: rgba(30, 106, 219,0.918);
    }

    #fondmenu
    {
        width: auto;
        height:40px;
        background: linear-gradient(#bdcfeb,#faf2f3);
        border-radius: 4px 4px 4px 4px;
    }

    #menu
    {
        margin-right: auto;
        margin-left: auto;
        display: table;
        padding: 0;
        margin-top: 0;
    }

    #menu li
    {
        display:table-cell;
        width: 1.5%;
        transition: 1s;
    }

    #menu li:hover
    {
        width: 2%;
        transition: 1s;
    }

    #menu a
    {
        color: rgba(211, 102, 29, 0.541);
        color: none;
        text-decoration: none;
        font-size: 38%;
        display: block;
        line-height: 40px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        transition: text-shadow, color 1s;
    }

    #menu a:hover
    {
        color: rgba(230, 11, 11, 0.8);
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        background: rgba(255,255,255,0,1);
        transition: text-shadow, color 1s;
        border-bottom: 4px solid rgba(230, 11, 11, 0.8);
    }

    .title
    {
        position: relative;
        font-weight: 900;
        font-size: 50%;
        color: rgba(30, 106, 219,0.918);
        text-align: center;
    }

    .section_1
    {
        color: rgb(102, 198, 211);
        font-size: 15%;
        width: 20%;
        padding: 10px 100px 10px 100px;
        background: #d2def2;
        border-radius: 40px;
        opacity: 0.90;
    }

    .photo
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .prenom
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .presentation
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .Photo_Florian
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 243px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .Florian
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 150px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    .Presentation_Florian
    {
        list-style: none;
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 243px;
        font-size: 70%;
        color: white;
        font-weight: bold;
    }

    .Photo_Timothy
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 243px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .Timothy
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 150px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    .Presentation_Timothy
    {
        list-style: none;
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 390px;
        font-size: 70%;
        color: white;
        font-weight: bold;
    }

    .Photo_Elerig
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 243px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        text-align: center;
    }

    .Elerig
    {
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 150px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
    }

    .Presentation_Elerig
    {
        list-style: none;
        background: rgba(102, 198, 211, 0.92);
        padding: 5px;
        width: 200px;
        height: 315px;
        font-size: 70%;
        color: white;
        font-weight: bold;
    }

    /*Barre latérale*/

    .margin-constraint
    {
        /*On indique tout simplement une marge*/
        margin-left: 96%;
        margin-right: 20px;
    }
    
    .margin-constraint.useful-width
    {
        width:calc(100% - 40px);
    }
    
    .icon-bar
    {
        position: fixed;
        top: 50%;
        bottom: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .icon-bar a
    {
        display: block;
        text-align: center;
        padding: 1px;
        transition: all 0.3s ease;
        color: white;
        font-size: 15px;
    }
    
    .icon-bar a:hover
    {
        background-color: #000;
    }
    
    .twitter
    {
        background: #55ACEE;
        color: white;
    }
    .linkedin
    {
        background: #007bb5;
        color: white;
    }
    
    .youtube
    {
        background: #bb0000;
        color: white;
    }

    .facebook
    {
        background: #3B5998;
        color: white;
    }

    /*Footer*/

    body, html 
    {
        margin: 0;
        display: table;
        height: 100%; 
        width: 100%;
    }

    .container-fluid
    {
        padding: 0;
    }

    .separator
    {
        height: 3px;
        width: 5px;
        border: none;
        box-shadow: none;
        background-color: #3498DB;
    }

    .footer
    {
        display: table-row;
        height: 250px;
        background-color: #2C3E50;
        padding-top: 2%;
    }

    .footer h5
    {
        color: #FFFFFF;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    .footer a
    {
        color: #FFFFFF;
        margin-left: 48.5%;
    }

    .footer a:hover
    {
        color: #3498DB;
        text-decoration: none;
    }

    .footer p
    {
        padding-top: 3%;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

}